[submodule ".python"]
	path = .python
	url = https://github.com/QingQiz/python_modules
[submodule ".scr"]
	path = .scr
	url = https://github.com/QingQiz/scripts
[submodule "install"]
	path = install
	url = git@github.com:QingQiz/docker-dotfiles.git
