snippet us
using namespace ${1:std};
endsnippet

snippet using
using ${1:std}::${2}
endsnippet

snippet inc
#include <${1:iostream}>
endsnippet

snippet vec
std::vector<${1:int}>
endsnippet

snippet que
std::queue<${1:int}>
endsnippet

snippet endl
std::endl;${0}
endsnippet

snippet def
#define ${1:TEST}
endsnippet

snippet idef
#ifdef ${1:TEST}/*>>>>>>*/
$0
#endif/*<<<<<<*/
endsnippet

snippet indef
#ifndef ${1:TEST}/*>>>>>>*/
$0
#endif/*<<<<<<*/
endsnippet
